beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.6.15
charset-normalizer==3.4.2
dotenv==0.9.9
idna==3.10
numpy==2.0.2
python-dotenv==1.1.0
requests==2.32.4
scratchattach==2.1.13
SimpleWebSocketServer==0.1.2
soupsieve==2.7
typing_extensions==4.14.0
urllib3==2.5.0
websocket-client==1.8.0
